@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Roboto", Arial !important;
  background-image: url('../public/icon/pexels-pixabay-209831.jpg');
  background-size: 300vh;
  background-position: center;
  background-repeat: no-repeat;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


